html, body {
  font-family: sans-serif;
  background-color: #fafafa;
}
.text-center {
  font-size: 1.1em;
  margin-top: 75px;
  margin-bottom: 50px;
  background-color: #fafafa;
}
.text-center p {
  margin-bottom: 20px;
}
.card {
  margin: 10px;
}
.card h4
{
  margin: 10px;
}
.image
{
  height: 50px;
  width: 50px;
}
.list-group
{
  background-color: #fafafa;
}
.list-group li
{
  list-style: none;
}
#list span
{
  font-family: cursive;
  margin: 2px;
  font-size: 0.9em;
  background-color: #e0e0e0;
}
footer
{
  background-color: #fafafa;
  height: 200px;
}
.container a
{
  margin-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.container p
{
  margin-top: 30px;
}
/*Extra small devices (portrait phones, less than 576px)*/
/*No media query since this is the default in Bootstrap*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { ... }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { ... }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { ... }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }
